body {
    padding: 0;
    margin: auto;
    background-color: #a4a7e0;
    font-family: 'Cormorant', serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 28px;
}

h3 {
    color: #FAC800;
}

h1,
h2,
h3 {

    text-transform: uppercase;
}

/* ESTILOS GENERALES */
.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.boton {
    height: 30px;
    background-color: #FAC800;
    color: #000000;
    border: 0;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
}

aside#cuadrito {
    float: right;
    width: 30%;
    margin-top: 90px;
}

.destacado {
    background-color: #FFE47A;
    padding: 5px;
    color: #000000;
}

.titulo-pagina {
    font-size: 30px;
    padding-bottom: 0;
    color: #060835;
}


/* header */
header {
    position: fixed;
    background-color: #FAC800;
    color: #000000;
    border-bottom: #000000 3px solid;
    padding-top: 30px;
    height: 70px;
    width: 100%;
}

header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header .logo {
    float: left;
}

header .logo h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #1925FF;
    font-weight: 600;
}

header .resaltado,
.actual,
a {
    text-transform: uppercase;
    font-weight: 800;
    color: #1925FF;
}

/* vidriera */
#vidriera {
    padding-top: 200px;
    height: 400px;
    background-image: url(../img/vidriera_dark.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

#vidriera h1 {
    margin-top: 90px;
    font-size: 55px;
    margin-bottom: 10px;
}

#vidriera p {
    font-size: 20px;
}

/* newsletter */
#newsletter {
    background-color: #6970FF;
    color: #FAC800;
}

#newsletter h3 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 20px;
    width: 200px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding-left: 10px;
}

#boxes .box img {
    width: 220px;
}

#boxes .box h2 {
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    color: #060835;
}

#boxes .box p {
    font-size: 15px;
    padding: 0 20px;
}

/* footer */
footer {
    padding-top: 20px;
    background-color: #FAC800;
    margin: 0;
    margin-top: 20px;
    color: #000000;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: #000000 3px solid;
}

.redes-sociales {
    padding: 30px 5px;
    text-align: center;
    display: inline-flex;
}



.redes-sociales img {
    width: 50px;
    height: auto;
}

.redes-sociales div {
    margin: 0 35px;
}

footer p {
    font-size: 12px;
}

.icono {
    transition: .5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FAC800;
    background-image: url(../img/iconos/go.svg);
    background-position: center;
    background-size: 70px;
    
}

.icono img {
    transition: .15s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FAC800;
    background-size: 30px;
}

.icono:hover img {
    transition: .5s;
    border-radius: 50%;
    background-color: #1925FF;
    width: 50px;
    height: 50px;
    transform: rotate(-1440deg) translateY(-80px) translateX(60px);
    box-shadow: 0px 0px 10px 10px #1925FF;
}


/* SOMOS */
#img_somos {
    padding-top: 200px;
    height: 400px;
    background-image: url(../img/header1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
}

#img_somos h1 {
    margin: 0;
    font-size: 80px;
    padding-top: 10px;
    font-weight: 100;
}

article#somos-columna {
    float: left;
    max-width: 65%;
}

#cuadrito p {
    font-size: 30px;
}

.comillas {
    font-size: 50px;
    font-weight: 600;
}

/* IDEAS */
.contenedor-idea{
    margin: auto;
    padding:0;
    width: 90%;
}
#idea a{
    text-decoration: none;
    text-transform: lowercase;
}
#idea .pie{
    transform:translateY(-45px);
    text-align: center;
}
.titulo-banner {
    color: #1925FF;
}

.texto-video {
    height: 150px;
}

.video {
    height: 600px;
    margin-bottom: 100px;
    width:100%;
}
.video img, .video iframe{
    width: 100%;
}
.video iframe{
    height: 100%;
}
.titulo-pagina {
    text-align: center;
}

#img_idea {
    height: 400px;
    background-image: url(../img/idea.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
}

#img_idea h1 {
    margin: 0;
    font-size: 80px;
    padding-top: 200px;
}

ul#idea {
    display: flex;
    width: 100%;
}

ul#idea li {
    text-align: center;
    margin: 20px;
    width: 50%;
    color: #ffffff;
    list-style: none;
    background-color: #060835;
    border: #FAC800 solid 2px;
    padding: 0 20px;
}


#idea p {
    text-align: left;
}

/* CONTACTO */
article#contacto-columna {
    float: left;
    max-width: 65%;
}

aside#cuadrito .destacado input,
aside#cuadrito .destacado textarea {
    width: 90%;
    margin-bottom: 7px;
}

::placeholder {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #351f5b7b;
}


/* MEDIA QUERIES */
@media (max-width: 800px) {

    /*GENERAL*/
    header .logo,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    header .logo h1 {
        font-size: 20px;
    }

    header a {
        font-size: 12px;
    }

    #vidriera h1 {
        margin-top: 40px;
    }

    ul {
        margin-top: 20px;
    }

    #newsletter h3,
    #newsletter form {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 24px;
        font-weight: 400;
        margin: 7px;
    }

    #newsletter input[type="email"] {
        width: 100%;
    }

    .boton {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }

    #boxes .box,
    #boxes h2 {
        float: none;
        text-align: center;
        width: 100%;
    }

    #boxes .box p {
        font-size: 22px;
    }

    #boxes .box h2 {
        font-size: 30px;
    }

    #boxes .box img {
        width: 220px;
        margin-top: 25px;
    }

    .contenedor {
        width: 95%;
    }

    /*footer*/
    .redes-sociales {
        padding: 30px 0 px;
        text-align: center;
        display: inline-flex;
    }

    .redes-sociales div {
        margin: 0 10px;
    }

    /*SOMOS*/
    #cuadrito p {
        font-size: 12px;
    }

    /*IDEAS*/
    ul#idea {
        margin-top: 0px;
        padding: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    ul#idea li{
        width: auto;
        margin: 20px;
    }
    #idea .pie{
        transform:translateY(5px);
        text-align: center;
    }
    #img_idea h1{
        padding-top: 225px;
        font-size: 40px;
    }
    
    .video {
        margin-top: 50px;
        height: auto;
    }
    
    
    iframe {
        width: 90%;
        height: auto;
    }
    
    .video img {
        width: 90%;
        height: auto;
    }
}





/*Fuentes
font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;
*/
/*
Paleta de colores: complementarios tonos violetas azulados y amarillos.
Violeta oscuro: #060835
Violeta Azulado brillante: #1925FF
Violeta medio: #4951EB
Violeta palido: #a4a7e0
Violeta desaturado: #6970FF
amarillo brillante: #FAC800
amarillo palido: #FFE47A
*/